In [5]:
int('abc')

ValueError: invalid literal for int() with base 10: 'abc'

In [6]:
print('1234')

1234

In [3]:
#fstring
age=20
print(f"my age is {age}")

my age is 20

In [1]:
name="aadarsh"
age=20
print(f"my name is {name} and my age is {age}")

my name is aadarsh and my age is 20

In [2]:
##format()
name="aadarsh"
age=20
print("my name is {} and my age is {}".format(name,age))

my name is aadarsh and my age is 20

In [3]:
##format()
name="aadarsh"
age=20
print("my name is {} and my age is {}".format(age,name))

my name is 20 and my age is aadarsh

In [6]:
#placeholder
print("my name is {firstname} and my age is {firstage}".format(firstage=age,firstname=name))

my name is aadarsh and my age is 20

In [4]:
name="aadarsh singh"
degree="BCA"
age=20
print("my age is {myage} and i have completed : my degree of {mydegree} with the name of {myname}".format(myage=age,myname=name,mydegree=degree))

my age is 20 and i have completed : my degree of BCA with the name of aadarsh singh

In [5]:
print(f"my age is {age} and i have completed : my degree of {degree} with the name of {name}")

my age is 20 and i have completed : my degree of BCA with the name of aadarsh singh

## control flow
## decision making statements

In [ ]:
# if statements
age=18
if age <=18:
    print("you are eligible")

In [7]:
input()

 aadarsh singh

'aadarsh singh'

In [10]:
age=int(input("enter your age"))
if age >=18 and age <=45:
    print("you are a young blood")
else:
    print("thank you we will let you know")

enter your age 46

thank you we will let you know

In [3]:
price=int(input("enter the price of the product "))
if price >3000:
    if price==4000:
        print("you get a trip to goa")
    print("you got 20% discount")
    discounted_price=price-(price*20)/100
    print("the price of the product after discount is:",discounted_price)
elif price >=2000 and price<=3000:
    if price==2999:
        print("you got an addtional gift")
    print("you got 30% discount")
    discounted_price=price-(price*30)/100
    print("the price of the product after discount is : ", discounted_price)
elif price>100 and price<=2000:
    print("you got 40% discount")
    discounted_price=price-(price*40)/100
    print("the price of the product after discount is :",discounted_price)

enter the price of the product  4000

you get a trip to goa
you got 20% discount
the price of the product after discount is: 3200.0

In [1]:
# loops statements

In [6]:
#while loop
joining_age=25
while joining_age<=60:
    joining_age=joining_age+1
    print(joining_age)
else:
    print("time to retire")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
time to retire

In [2]:
## atm machine with 1000rs
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
print("insufficient balance")

1000
900
800
700
600
500
400
300
200
100
insufficient balance

## for loop

In [3]:
lst=['aadarsh',1,2,3,4,'apple','banana',4.67,4+5j]
type(lst[-1])

complex

In [4]:
lst[4]

4

In [5]:
lst

['aadarsh', 1, 2, 3, 4, 'apple', 'banana', 4.67, (4+5j)]

In [6]:
for x in lst:
    print(x)

aadarsh
1
2
3
4
apple
banana
4.67
(4+5j)

In [61]:
fruits_list=['apple',"mango",'cherry','papaya','banana']
for a in fruits_list:
    if a=="cherry":
        break #break will skip entire loop
    print(a)

apple
mango

In [62]:
fruits_list=['apple',"mango",'cherry','papaya','banana']
for a in fruits_list:
    if a=="cherry":
        continue  #continue will only skip one step whichever step is becoming true
    print(a)

apple
mango
papaya
banana

In [20]:
#if you want to print the elements of a list in a single line use end= ' '
fruits_list=['apple',"mango",'cherry','papaya','banana']
for a in fruits_list:
    print(a, end=' ')

apple' 'mango' 'cherry' 'papaya' 'banana' '

In [23]:
fruit="mango"
for i in fruit:
    print(i)

m
a
n
g
o

In [24]:
fruit[0]

'm'

In [25]:
fruit[3]

'g'

In [46]:
for i in range(1, 7,2):
    print(i)

1
3
5

In [41]:
#nested loop
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end='')
    print("\r")       #\r is use to move to the next line

*
**
***
****
*****
******
*******

In [2]:
n=7
for i in range(0,n,2):
    for j in range(0,i+1):
        print("*",end='')
    print("\r")

*
***
*****
*******